
.container{
  display: flex;
  flex-direction:column;
  height: 100%;
  color:#0055A4;
  margin:60px 100px;
  font-family: Arial Narrow,Arial,sans-serif;

}

.mywrap_end{
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: flex-end;

}
.mywrap{
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: stretch;

}
.mywrap_center{
  display: flex;
  flex-direction:row;
  margin:auto;
  padding-left: 15px;
}

.title {
  min-width: 200px;
  margin-right:auto;
  height: 95px;
    color: #0055A4;
    font-family: Cambria,Georgia,serif;
    font-size: 36px;
    text-align: left;
    padding: 5px;
}

#nolink{
  color:#d1d3de;

}
a{
 text-decoration: none;
 color: black;
}

.badge{
 width: 60px;
 max-height: 60px;
 border: none;
 background-repeat: no-repeat;
 background-size: cover;
}

#badge_internal_active{
background-image: url("./badge_internal_active.png")
}

#badge_internal_inactive{
background-image: url("./badge_internal_inactive.png")
}

#badge_external_active{
background-image: url("./badge_external_active.png")
}

#badge_external_active{
background-image: url("./badge_external_active.png")
}


#check{

background-image: url("./check.png");

}

#greycheck{

background-image: url("./greycheck.png");

}

#greybadge{

background-image: url("./greybadge.png");

}
#internal_inactive{
  background-image: url("icons8-checkmark-24-internal-inactive.png");
  background-repeat: none;
  background-size: cover;
}
#internal_active{
  background-image: url("icons8-checkmark-24-internal-active.png");
  background-repeat: none;
  background-size: cover;
}
#external_active{
  background-image: url("icons8-checkmark-24-external-active.png");
  background-repeat: none;
  background-size: cover;
}

.codelink{
width: 120px;
height: 45px;
color: #000000;
font-size: 14px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: center;
background: #FFFFFF;
border: 3px dotted #0055A4;
border-radius: 21px;
margin-right: 10px;

}
.divider{

width: 100%;
height: 8px;
background-color:#0055A4;
border: 0 none;
margin-top: 20px;
margin-bottom:20px;

}

.label {

width: auto;
height: 30px;
color: #0055A4;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
margin-right: auto;
line-height: 30px;
font-size: large;
}

.pdfIcon{
width:35px;
height: 35px;
color: #0055A4;
font-size: 24px;
font-weight: normal;
background-image: url("./icons8-pdf-50.png");
border: none;
background-repeat: no-repeat;
background-size: cover;


}

.githubIcon{
    width: 35px;
height: 35px;
color: #444444;
font-size: 24px;
font-weight: normal;
border: none;
background-image: url("./icons8-github-32.png");
border: 1px solid #00000066;
background-repeat: no-repeat;
background-size: cover;
border-radius: 4px;
}

.versionButton{

width: 97px;
height: 45px;
color: #FFFFFF;
font-size: 24px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: center;
background: #0093D0;
border: none;
border-radius: 21px;
margin-left: auto;
}


.authName{
    width: 240px;
height: 40px;
color: #000000;
font-size: medium;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
}

.main{

 font-size:16px;
 padding: 0px 40px 0px 40px;

}

.mainText {

width: auto;
min-height: 150px;
color: #000000;
font-family: Arial Narrow,Arial,sans-serif;
font-size: 16px;
text-align: left;
padding: 15px 30px 15px 0;
line-height: 22px;
text-align: justify;
}

.ref {

width: 441px;
height: 40px;
color: #0055A4;

font-size: large;
font-weight: normal;
font-style: normal;
text-decoration: underline;
text-align: left;

}


.IconButton {

    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial Narrow,Arial,sans-serif;
    text-decoration: none;
    background: rgba(1,1,1,0.5);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
}



ul {
  list-style-type: square;
  display: flex;
  flex-direction: column;
}

#assocaited_tools{
list-style-type: none;
}

li{
  line-height:24px;
  font-size: 16px;
}


[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #616161e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: Arial Narrow,Arial,sans-serif;
    font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1);
}


#line{
  border-right:1px solid black;
}

.mylink{padding: 5px;
font-size: 14px;}

.mylink:any-link {
  color:black;
  height: fit-content;
}


/* WebKit browsers */
.mylink:-webkit-any-link {
  color:black;
  height: fit-content;
}

#email{
    background-image: url("icons8-email-send-24.png");
  background-repeat: none;
  background-size: cover;
  border:none;

}

footer{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color:black;
  padding-left:60px;
   padding-right:260px;
   font-family: Cambria,Georgia,serif;

}
.attribution{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    color:grey;
}
