
.container{
    display: flex;
    flex-direction:column;
    height: 100%;
  color:#3F51B5;
  margin:60px;

}
.mywrap{
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: stretch;

}

.title {
  min-width: 200px;
  margin-right:auto;
  height: 95px;
    color: #3F51B5;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    text-align: left;
    padding: 5px;
}

#nolink{
  color:#d1d3de;

}
a{
 text-decoration: none;
 color: black;
}

.badge{
 width: 95px;
 background-image: url("./badge.png");
 border: none;
 background-repeat: no-repeat;
 background-size: cover;
}

#check{

background-image: url("./check.png");

}

#greycheck{

background-image: url("./greycheck.png");

}

#greybadge{

background-image: url("./greybadge.png");

}

.codelink{
width: 120px;
height: 45px;
color: #000000;
font-family: 'Source Sans Pro';
font-size: 16px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: center;
background: #FFFFFF;
border: 3px dotted #3F51B5;
border-radius: 21px;
margin-right: 10px;

}
.divider{

width: 100%;
height: 8px;
background-color:#3F51B5;
border: 0 none;
margin-top: 20px;
margin-bottom:20px;

}

.label {

width: auto;
height: 30px;
color: #3F51B5;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
margin-right: auto;
line-height: 30px;
font-size: large;
}

.pdfIcon{
width:35px;
height: 35px;
color: #3F51B5;
font-size: 24px;
font-weight: normal;
background-image: url("./icons8-pdf-50.png");
border: none;
background-repeat: no-repeat;
background-size: cover;


}

.githubIcon{
    width: 35px;
height: 35px;
color: #444444;
font-size: 24px;
font-weight: normal;
border: none;
background-image: url("./icons8-github-32.png");
border: 1px solid #00000066;
background-repeat: no-repeat;
background-size: cover;
border-radius: 4px;
}

.versionButton{

width: 97px;
height: 45px;
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: center;
background: rgba(63,81,181,0.5);
border: none;
border-radius: 21px;
box-shadow: 0 5px 5px -5px #333;
margin-left: auto;
}


.authName{
    width: 240px;
height: 40px;
color: #000000;
font-size: medium;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
}

.main{

 font-size:16px;

}

.mainText {

width: auto;
min-height: 250px;
color: #000000;
font-family: sans-serif;
font-size: 16px;
text-align: left;
padding-top: 15px;
line-height: 22px;
}

.ref {

width: 441px;
height: 40px;
color: #3F51B5;

font-size: large;
font-weight: normal;
font-style: normal;
text-decoration: underline;
text-align: left;

}


.IconButton {

    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background: rgba(63,81,181,0.4);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 5px -5px #333;
    text-align: center;
    margin-left: auto;
}

.bottom{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-bottom: 25px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li{
  line-height:24px;
  font-size: 16px;
}


[data-md-tooltip] {
  position: relative;
}
[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #616161e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1);
}

.mylink:any-link {
  color:#3F51B5;
  font-style: italic;
}
